@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="主键id" underline="true"/>-->
                            <!--<#input id="restaurantId" name="饭店id" underline="true"/>-->
                            <#input id="dishName" name="菜名" underline="true"/>
                            <#input id="type" name="种类" underline="true"/>
                            <#input id="picture" name="菜品图片" underline="true"/>
                            <#input id="tasty" name="口味" underline="true"/>
                            <#input id="price" name="单价" underline="true"/>
                            <!--<#input id="averageScore" name="平均得分"/>-->
                </div>

                <!--<div class="col-sm-6">-->
                            <!--<#input id="scoreTimes" name="评价次数" underline="true"/>-->
                            <!--<#input id="yn" name="是否有效" underline="true"/>-->
                            <!--<#input id="status" name="状态" underline="true"/>-->
                            <!--<#input id="moidfiedUser" name="修改人" underline="true"/>-->
                            <!--<#input id="createdTime" name="创建时间" underline="true"/>-->
                            <!--<#input id="modifiedTime" name="修改时间" underline="true"/>-->
                            <!--<#input id="remark" name="备注" underline="true"/>-->
                <!--</div>-->
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DishInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DishInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/restaurant/dishInfo/dishInfo_info.js"></script>
@}
