@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>评价管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MenuDetail.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MenuDetailTableToolbar" role="group">
                            @if(admin){
                                @if(shiro.hasPermission("/menuDetail/add")){
                                    <#button name="添加" icon="fa-plus" clickFun="MenuDetail.openAddMenuDetail()"/>
                                @}
                                @if(shiro.hasPermission("/menuDetail/update")){
                                    <#button name="修改" icon="fa-edit" clickFun="MenuDetail.openMenuDetailDetail()" space="true"/>
                                @}
                                @if(shiro.hasPermission("/menuDetail/delete")){
                                    <#button name="删除" icon="fa-remove" clickFun="MenuDetail.delete()" space="true"/>
                                @}
                            @}
                        </div>
                        <#table id="MenuDetailTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/dishEvalution/menuDetail/menuDetail.js"></script>
@}
