@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" underline="true"/>
                            <#input id="menuId" name="菜单id" underline="true"/>
                            <#input id="dishId" name="菜品id" underline="true"/>
                            <#input id="dishName" name="菜名" underline="true"/>
                            <#input id="score" name="评分" underline="true"/>
                            <#input id="appraise" name="评分" underline="true"/>
                            <#input id="price" name="单价"/>
                </div>

                <!--<div class="col-sm-6">-->
                            <!--<#input id="yn" name="是否有效" underline="true"/>-->
                            <!--<#input id="status" name="状态" underline="true"/>-->
                            <!--<#input id="moidfiedUser" name="修改人" underline="true"/>-->
                            <!--<#input id="createdTime" name="创建时间" underline="true"/>-->
                            <!--<#input id="modifiedTime" name="修改时间" underline="true"/>-->
                            <!--<#input id="remark" name="备注" underline="true"/>-->
                <!--</div>-->
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MenuDetailInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MenuDetailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/dishEvalution/menuDetail/menuDetail_info.js"></script>
@}
